/*****************************************************************************/
/* Common
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

div#post iframe {
    float:left;
    padding: 10pt 10pt 10pt 10pt;
}    

body {
  background-color: white;
  /* font-family: 'Inconsolata', sans-serif; */
  font: 13px Inconsolata helvetica, arial, clean, sans-serif; 
  *font-size: small; 
  text-align: center;
}

h3, h4, h5, h6 {
  font-size: 100%;
}

h2 {
  font-size: 120%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 150%;
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

li p {
 margin: 0 0 0 0;
}

ol.bibliography li a.details {
 margin: 0 0 0 5px;
}

ol.bibliography li {
 margin-bottom: 1em;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/* Home
/*****************************************************************************/

ul.posts {
    list-style: none;
    margin-left: 0;
    padding-left: 90px;
    text-indent: -90px;
    padding-bottom: 2em;
}

ul.posts li {
    text-align: left;
    line-height: 1.75em;
}

ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace; 
    font-size: 80%;
}

/*****************************************************************************/
/* Site
/*****************************************************************************/

dl {
    width:100%;
    overflow:hidden;
}

dt {
    float: left;
    width: 8%; /* adjust the width; make sure the total of both is 100% */
}

dd {
    float:left;
    width: 92%; /* adjust the width; make sure the total of both is 100% */
    margin: 0 0 1em 0;
}


.site {
    font-size: 110%;
    text-align: justify;
    width: 50%;
    float: left;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
}

.title {
    color: #a00;
    font-weight: bold;
    margin-bottom: 2em;
}

.site .title a {
    color: #a00;
    text-decoration: none;
}

.site .title a:hover {
    color: black;
  }

.site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
}

.site .title a.extra:hover {
    color: black;
}

.site .meta {
    color: #aaa;
}

div.footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

div.footer .contact {
    float: left;
    width: 80%;
}

div.contact a {
    color: #8085C1;
}

div.footer div.rss {
    margin-top: 1.1em;
    width: 20%;
    float: right;
}

div.footer div.rss p {
    text-align: right;
}

div.footer div.rss img {
    border: 0;
}


/*****************************************************************************/
/* Posts
/*****************************************************************************/

#post {
    
}

/* standard */

#post pre {
    white-space: pre-wrap;
    border: 1px solid #ddd;
    background-color: #eef;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 .4em;
}

#post ul, #post ol {
    margin-left: 1.35em;
}

#post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
}

#post pre code {
    border: none;
}

  /* terminal */

#post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
}

#post pre.terminal code {
    background-color: #333;
}

#related {
    margin-top: 2em;
}

#related h2 {
    margin-bottom: 1em;
}

div#outer {
    float: left;
    width: 100%;
}

div#left {
    width: 25%;
    margin: 3em auto 2em auto;
    float: left;
}

div#right {
    width: 25%;
    float: left;
}

div#top {
  height: 20px;
  float: left;
  width: 100%;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

