    

<footer class="bs-docs-footer">
  <div class="container">
    
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> Comida, política e Data science</div>
        <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=github/ZmbP', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p><i class="fa fa-rss-square fa-2x" aria-hidden="true"></i> Enter your email address:</p><p><input type="text" style="width:140px;color:black" name="email"/></p><input type="hidden" value="github/ZmbP" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /></form>
      <!--  <p><i class="fa fa-map-pin"></i>Escritório: Rua Barão de Itambi, nº 60 - Botafogo, RJ</p>
        <p><i class="fa fa-phone"></i>Phone (Brazil): +55 (21) 3799-6751</p>
        <p><i class="fa fa-envelope"></i> E-mail : pedro.guilherme@fgv.br</p> -->
        
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">Links Gerais</h6>
        <ul class="footer-ul">
          <li><a href="#"> Blog</a></li>
          <li><a href="#"> Graduation</a></li>
          <li><a href="#"> Terms & Conditions</a></li>
          <li><a href="#"> Research</a></li>
          <li><a href="#"> Ranking</a></li>
          <li><a href="#"> Publications</a></li>
          <li><a href="#"> Postgraduate</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
            {% for  post in site.posts limit:3 %}
                <p>{{ post.title }} <span> {{ post.date | date: '%B ' }}  {{ post.date | date: '%d,' }} {{ post.date | date: ' %Y' }}</span></p>
            {% endfor %}  
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Twitter</a></blockquote>
            <blockquote cite="https://www.youtube.com/youtube"><a href="https://www.youtube.com/channel/UC8DhN1cJi0QklBQot5hv_kg">Youtube</a></blockquote>
          </div>
        </div>
      </div>
  </div>
</footer>

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2016 - Pedro costa ferreira</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="http://www.pedrocostaferrira.github.io">pedrocostaferreira.github.io</a></li>
        <li><a href="#">About </a></li>
        <li><a href="http://www.pedrocostaferrira.github.io/blog">Blog</a></li>
        <li><a href="http://www.pedrocostaferrira.github.io/blog/tags">Tags</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
  </div>
</div>

  
