<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
			<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
			<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
			<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"rel="stylesheet">
			<!--<link href="/css/font-awesome.css" rel="stylesheet">-->
		</head>
		<body>
			<nav>
	    		<ul>
	    		
	        		<li><a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i>Home</a></li>
		        	<li><a href="/noticias">News</a></li>
	        		<li><a href="/atividades">Activities</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
