<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
			<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
			<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
			<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"rel="stylesheet">
			<!--<link href="/css/font-awesome.css" rel="stylesheet">-->
		</head>
		<body>
			<div id="center">
      			<img src="/images/banner_site_pedro.jpg" width = auto heigth = auto/>
    			</div>  
			
			<nav>
	    		<ul>
	    		
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/noticias">News</a></li>
	        		<li><a href="/atividades">Activities</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:pedro.guilherme@fgv.br">email</a></li>
	        		
				</ul>
				
			<ul>
				<li><a target="_blank" href="https://www.facebook.com/fgv.ibre/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
				<li><a target="_blank" href="https://www.youtube.com/user/fgvtv"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a></li>
				<li><a target="_blank" href="https://github.com/pedrocostaferreira"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></li>
				<li><a target="_blank" href="https://twitter.com/fgv"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
				
				
			</ul>
			</footer>
		</body>
	</html>
