---
layout: blog
notes: archive
---

<div class="panel panel-default">
	<div class="panel-body">
<ul class="tags">
  {% for tag in page.tags %}
    <li><a href="/blog/tags#{{ tag }}" class="tag">{{ tag }}</a></li>
  {% endfor %}
</ul>



<div class="notes">
		<div class="note single">
			<h2 class="title">{{ page.title }}</h2s>
			
			<h2 class="date"><info datetime="{{ page.date }}">
				<small>{{ page.date | date_to_string }} {% if page.author %} by {{ page.author }} {% endif %}</small> 
					<button type="button" class="btn btn-default btn-xs" aria-label="Left Align" onclick="goBack()">
						 <span class="fa fa-arrow-circle-o-left" aria-hidden="true"></span> <strong> Go Back</strong>
				    </button>
			</info></h2>
			<!-- Post content -->
			<div class="notebody">
				{{ content }}
			</div>
			<!-- Post info -->
			<div class="noteinfo">
			<!-- include some categories and tags maybe? -->
			</div>

		<center>
		<div class="share-page">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Google+</a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ post.resumo }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
</div></center>

			<hr>

				<!-- Post comments -->
					<div class="notecomments">
					{% include disqus.html %}	 
				</div>
			</div><!-- / .note .single -->
		</div><!-- /.notes -->
	</div><!-- /.panel-body -->
</div><!-- /.panel panel-default -->
